<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.MAIN"/>
      <category android:name="android.intent.category.LAUNCHER"/>
    </intent>
    <package android:name="com.instagram.android"/>
    <package android:name="com.facebook.katana"/>
    <package android:name="com.facebook.lite"/>
    <package android:name="com.snapchat.android"/>
    <package android:name="com.zhiliaoapp.musically"/>
    <package android:name="com.ss.android.ugc.trill"/>
    <package android:name="com.twitter.android"/>
    <package android:name="com.reddit.frontpage"/>
    <package android:name="com.pinterest"/>
    <package android:name="com.linkedin.android"/>
    <package android:name="com.instagram.barcelona"/>
    <package android:name="com.google.android.youtube"/>
    <package android:name="com.netflix.mediaclient"/>
    <package android:name="com.amazon.avod.thirdpartyclient"/>
    <package android:name="in.startv.hotstar"/>
    <package android:name="com.google.android.apps.youtube.music"/>
    <package android:name="com.whatsapp"/>
    <package android:name="org.telegram.messenger"/>
    <package android:name="com.discord"/>
    <package android:name="com.tencent.ig"/>
    <package android:name="com.dts.freefireth"/>
    <package android:name="com.dts.freefiremax"/>
    <package android:name="com.activision.callofduty.shooter"/>
    <package android:name="com.supercell.clashofclans"/>
    <package android:name="com.supercell.clashroyale"/>
    <package android:name="com.king.candycrushsaga"/>
    <package android:name="com.innersloth.spacemafia"/>
    <package android:name="com.mojang.minecraftpe"/>
    <package android:name="com.garena.game.codm"/>
    <package android:name="com.ea.gp.fifamobile"/>
    <package android:name="com.roblox.client"/>
    <package android:name="com.pubg.imobile"/>
    <package android:name="com.ludo.king"/>
    <package android:name="com.kiloo.subwaysurf"/>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true" android:enableOnBackInvokedCallback="false">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.ENABLE_BSDIFF_PATCH_SUPPORT" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <service android:name="com.jennise.sankalai.appblocker.FocusProtectionService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="false" android:label="@string/accessibility_service_label">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService"/>
      </intent-filter>
      <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config"/>
    </service>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|smallestScreenSize" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="sankalai"/>
        <data android:scheme="exp+sankalai"/>
      </intent-filter>
    </activity>
    <activity android:name="com.jennise.sankalai.appblocker.BlockerActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:finishOnTaskLaunch="true" android:launchMode="singleTask" android:excludeFromRecents="true" android:exported="false" android:noHistory="true"/>
    <receiver android:name="com.jennise.sankalai.appblocker.SmartFocusBootReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>